#content-wrapper {
    max-width: 980px;
    margin: 0 auto;
}

.mainT {
    font-weight: bold;
}

/* Модуль делитель столешки */
.dlinContainer{
    width: 380px;
    position: absolute;
    top: 80px;
    left: 10px;
    min-height: 50px;
    overflow: hidden;
}

.dlinContainer .tabFind, .tabOpt, .tabOptOut {
    float:left;
    width:49%;
 }
 
 .dlinContainer .tabFindIn p {
    border-right: dashed 1px black;
    margin: 0px;
    padding-bottom: 5px;
    padding-left: 3px;
 }

 .dlinContainer .tabOptIn p {
    padding-bottom: 5px;
    padding-left: 3px;
    margin: 0px;
 }

 .dlinContainer p.odd {
    background: white;
 }
 
 .dlinContainer p.even {
    background: #E3F2FD;
 }

 .dlinContainer .mui-dropdown__menu {
    cursor: pointer;
 }

 .dlinContainer .plus {
    font-size: 22px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    padding-right: 3px;
    line-height: 1;
 }

 .dlinContainer .plus:hover, .delete:hover {
    color: #FF5252;
 }

 .dlinContainer .delete {
   cursor: pointer;
   line-height: 1;
    font-size: 18px; 
    padding: 0px;
    margin: 0px;
 }

.dlinContainer .total {
   margin-top: 5px;
}

.dlinContainer .mui-divider{
   margin: 10px 0 10px 0;
}

.dlinContainer .totalBad {
   color:  #D32F2F;
}

.dlinContainer .selDlin {
   display: block;
}

.dlinContainer .close,
.dlinContainer .open {
   width: 30px;
   height: 30px;
   position: absolute;
   top:10px;
   right: 10px;
   font-size: 20px;
   text-align: center;
   font-weight: bold;
}
.dlinContainer .close:hover,
.dlinContainer .open:hover {
   color: #FF5252;
   cursor: pointer;
}
.dlinContainer .open {
   display: none;
}


/* ПЕЧАТЬ */
.forprint {
   display: none;
}

/* ЭСКИЗЫ */
.addprint {
	width:100%;
	/* height:80px; */
	margin:5px auto;
}
.addprint img {
	/* align:left; */
	padding:0;
	margin:0;
	/* max-width: 17%; */
}
.checkboxs {
	width:100%;
}
.checkboxs input {
	width:17%;
	background:#666666;
}

.imgBox {
	width:194px;
	float:left;
	/* border:1px solid #666; */
}
.imgBox img {
	width:100%;
}
.imgBox input {
	width:100%;
	padding: 0;
	margin:0;
}