@charset "utf-8";
/* CSS Document */

body { 
	margin:0;
	padding:0;
}

#tappo {
	clear:both;
	}
	
#contenitore{
	width:862px;
	height:717px;
	}

#sx {
	width:417px;
	height:676px;
	position:absolute;
}

#logo, #footer {
		width:380px;
	    height:130px;
}

#center {
		width:380px;
		height:412px;
}

#dx {
	width:478px;
	/*height:668px;*/
	height:717px;
	float:right;
	margin:5px 0 5px 5px;
	padding:0;
}


a {
	font-family: Futura Bk BT, Arial;
	font-size: 18px;
	color: #404040;                              
	text-decoration:none;
	margin-left:45px;
}

a:hover {
		background-color: #EE3224;
	    color: #FFF;
}


