/* PRINT */



body{
   font-size: 10pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	
	height:100%;
	padding:0;
}	

.txtCentr {
  text-align: center;
}

.txtRight {
  text-align: right;
}

.tdBold{
  font-weight: 600;	
}


td, th {
     border: 1px solid black; /* Параметры границы */
     padding: 4px; /* Поля в ячейках */
    } 
tr {
	page-break-inside: avoid;
}

footer, #content-wrapper, .mui-appbar, .dlinContainer, #wrap, input, .addprint, #preventivo, #intestazionePreventivo, #infoPreventivo, #subMenuPreventivo, #tabPreventivo, #tabRighe, #totaleInfoPreventivo, #imgLogoSmall, #infoDis, #totaleInfoDis, #intestazioneDis, .bordoDxSTP, .bordoTop2, .bordoBtm2, .bordoDx2, .bordoSx2, .indent, .label, .labelShort, .valueView, .viewLong, .styleCorsivo, .styleTitoloBold, .styleTitolo, .styleNormale, .styleNormaleBold, .styleTableHead, .inputDisabled, .inputEnabled, .inputEnabled2, .inputDisabled2, .flMod, .icons2, .fotoDis, .labelDis, .rappImg, .valueImporto, .row {
	display: none;
}

.tablePrint{
  page-break-before: always;
}

/*Таблица изделий*/
.tblInfo{
	border:1px solid black;
	width:100%;
	margin-bottom: 5px;	
	border-collapse: collapse;

}


.titleBlock {
	border:1px solid black;
	/* bordercolor:"black";*/
	width:900px;
	margin-top:20px;	
	border-collapse: collapse;
}

.imgArg{
	 /* border: 1px solid green;  */
	max-width:100%;
	max-height:190mm; 
	margin:0;
	padding:0px;
	display: block;
}

.wrapPageI {
	/* border:1px solid black; */
	page-break-after: always;
	page-break-inside: avoid;
	/*height:19cm;*/
	font:normal;
	/* margin: auto; */
}

.wrapPageI img {
	/* border:1px solid red; */
	max-height:170mm; 
}

.wrapPagelabel{
	/*margin: 5px 5px;*/
	position: relative;
	top:10px;
	left: 10px;
}
.classIndent {
	padding: 15px;
 }
.pageInfo {
	font-size: 10px;
}
.ramka {
	position:fixed;
	/* border:1px solid black; */
	margin: 0;
	padding: 0;
	width: 99%;
	height: 98%;
}








