
.Fabbian {
	font-family: Futura Bk BT, Arial;
	font-size: 18px;
	font-weight: normal;
	color: #333;                              
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #CFCFCF;
	margin-left: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-decoration: none;
}

.Fabbian_single {
	font-family: Futura Bk BT, Arial;
	font-size: 20px;
	font-weight: normal;
	color: #333;                              
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #CFCFCF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-decoration: none;
	padding-left: 18.3%;
}

.Fabbian_bold {
	font-family: Futura Bk BT, Arial;
	font-size: 16px;
	font-weight: normal;
	color: #CFCFCF;                 
	font-style: normal;
	text-align: center;
	vertical-align: top;
	margin-left: 1px;            
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	text-decoration: none;
	background-color: #EE3224;   
}

a { padding:0px;
color:#24EED3;
}

a:hover {
		
	    color: #FFF;
}

.main {
	/* height:50px; */
	margin:2px 1px 2px 2px;
	font-size:13px;
	/*width:50px;*/
}

.dim {
	/*overflow:hidden;*/
	width:100%;
	font-size:12px;
}

.cell {
	width:33%; 
	height:auto; 
	float:left; 
	background-color:#303232;
}